<li>
    <article class="snippet">
      <div class="single-card">
        <div class="front">
          <a href="{{ post.url }}"><div class="thubnail-rental"><image src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="article-image"></image></div></a>
          <div class="apts-block">
            <span class="size">{{ post.data.squareArea }} <sup>m²</sup></span>
            <h2 class="tittle"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
          <p>{{ post.data.floor }} floor</p>
          </div>
        </div>
        <div class="back">
            <a href="{{ post.page.url }}">
                <h3 class="title">{{ post.data.title }}</h3>
            </a>
            <div class="info-group">
                <span class="value">{{ post.data.squareArea }}<sup>m²</sup></span>
                <span class="label">Square Metre</span>
            </div>
            <div class="info-group">
                <span class="value">{{ post.data.floor }}<sup>nd</sup></span>
                <span class="label">Floor</span>
            </div>
            <div class="info-group">
                <span class="value">{{ post.data.bedrooms }}<sup></sup></span>
                <span class="label">Bedrooms</span>
            </div>
            <div class="arrow-button">
              <i class="fa-solid fa-arrow-right-long"></i>
            </div>
        </div>
      </div>
    </article>
</li>