:root {
	--fs-100: 0.75rem;
	--fs-200: 0.875rem;
	--fs-300: 1rem;
	--fs-400: 1.0625rem;
	--fs-500: 1.375rem;
	--fs-600: 1.625rem;
	--fs-700: 1.875rem;
	--fs-800: 2rem;
	--fs-900: 2.5rem;
	--fs-1000: 5.625rem; 
  
	--ff-body: "Roboto", sans-serif;
	--ff-heading: "SF Pro Display", serif;
  
	--fw-400: 400;
	--fw-700: 700;
	--fw-900: 900;

	--icon-size: 14px;
	--icon-padding: 0.9em;

	--line-height: 1.76em;

	--bar-width: 60px;
	--bar-height: 8px;
	--hamburger-gap: 6px;
	--foreground: #333;
	--background: white;
	--animation-timing: 200ms ease-in-out;
	--hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  
	--clr-primary-200: hsla(169, 70%, 95%, 1);
	--clr-primary-300: hsla(169, 100%, 39%, 1);
	--clr-primary-400: hsla(169, 100%, 26%, 1);
	--clr-primary-500: hsla(169, 100%, 16%, 1);
  
	--clr-neutral-100: hsla(0, 0%, 100%, 1);
	--clr-neutral-300: hsla(0, 0%, 50%, 1);
	--clr-neutral-400: hsla(0, 0%, 40%, 1);
	--clr-neutral-500: hsla(0, 0%, 60%, 1);
	--clr-neutral-900: hsla(0, 0%, 10%, 1);
}

@media (min-width: 35em) {
	:root {
	  --fs-300: 1rem;
	  --fs-400: 1.125rem;
	  --fs-500: 1.5rem;
	  --fs-600: 2.25rem;
	  --fs-700: 3rem;
	}
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	text-decoration: none;
}

html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

svg {
	fill: currentColor;
}

body {
	font-family: var(--ff-body);
	font-size: var(--fs-300);
	color: var(--clr-neutral-900);
	line-height: 1.5;
  }
  
  h1,
  h2,
  h3 {
	font-family: var(--ff-heading);
	font-weight: var(--fw-900);
	line-height: 1.25;
  }
  
  strong {
	font-weight: var(--fw-700);
  }

p {
	line-height: var(--line-height);
}

/* HOMEPAGE */

a svg {
	display: block;
}

.container .welcome {
	padding: 9px 19px;
	background: var(--clr-primary-500);
}

.welcome {
	color: white;
	display: inline-block;
	text-transform: uppercase;
	font-size: var(--fs-200);
	font-weight: var(--fw-700);
	letter-spacing: .12em;
}

.welcome-wrapper {
	padding: 90px 0 16px 0;
}

.hero-title {
	padding: 0 0 90px 0;
}

.welcome p {
	font-size: 12px;
	font-weight: var(--fw-700);
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* .hero-content {
	padding: min(10vh, 10em) 0;
} */

.hero-title {
	color: var(--clr-neutral-100);
}

.about-image {
	position: relative;
	width: 100%;
	object-fit: cover;
}

.upper-part {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0 10px 0;
}

.index-container, .title-container {
	width: 100%;
}

.contact-details .section-title {
	font-size: 40px;
}

.contact-wrapper {
	display: flex;
	align-items: center;
	gap: 16px;
}

.p-description {
	white-space: pre-line;
	font-size: 18px;
	color: #838b83;
}

.contact-info {
	margin-bottom: 25px;
}

.contact-wrapper .contact-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #F6F7F9;
	border-radius: 5px;
}

.contact-icon {
	min-width: 50px;
	min-height: 50px;
	color: var(--clr-primary-400);
}

.label {
	font-size: var(--fs-300);
	margin-bottom: 10px;
	line-height: 1.2;
	color: #838b83;
}

.info {
	font-weight: var(--fw-900);
	font-size: var(--fs-300);
}

.contact-content-wrapper {
	display: grid;
}

@media (max-width: 1024px) {
	.upper-part {
		flex-wrap: wrap;
	}
}

.label-right, .label-left {
	width: 100%;
}

.label-left {
	padding: 0 0 10px 0;
}

.label-right {
	padding: 10px 0 0;
}

.about-container, .content-container, .stats-container {
	width: 100%;
}

.content, .stats-container {
	margin: 0 10px;
}

.about_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.apartment_showcase {
	display: flex;
	align-items: center;
	justify-content: center;
}

.line_decor{
	position: absolute;
	top: 0;
	left: -20px;
	width: 10px;
	height: 140px;
	background-color: var(--primary);
}

.apartment_showcase {
	padding: 10px;
}

.section-title {
	font-size: 40px;
	position: relative;
	z-index: 1;
	margin: 0;
	font-weight: var(--fw-900);
	line-height: 1.21;
	white-space: pre-line;
}

.stats-thubnail {
	background: var(--clr-primary-400);
	object-fit: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.label-title {
	font-size: 26px;
	font-weight: var(--fw-700);
	color: var(--clr-neutral-900);
}

.label-description {
	color: #777;
	font-size: var(--fs-300);
	line-height: 1.1em;
}

.stats-description {
	padding: 40px 40px;
}

.stats-title {
	font-size: var(--fs-300);
	color: white;
	font-weight: var(--fw-700);
}

.stats-meta {
	display: flex;
	align-items: center;
	gap: 1em;
	border-bottom: 1px solid #eee;
	padding: 2em 0;
}

.stats-label {
	padding: 0 2em;
	background: white;
}

.stats-group {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.about {
	background-image: url(assets/about-bg-image.png);
	object-fit: cover;
	background-position: bottom right;
	background-repeat: no-repeat;
}

/* HEADER */

.nav-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #F6F7F9;
	align-items: center;
	padding: 0 3rem;
}

.nav-logo {
	display: flex;
	width: 50%;
	height: auto;
}

.nav-logo img {
	object-fit: cover;
}

.nav-links-container {
	padding: 16px 0;
	width: 65.5%;
}

.nav-links {
	list-style: none;
}

.nav-links > .nav-link-item {
	display: inline-block;
	margin: 0 24px;
	position: relative;
}

.nav-links > .nav-link-item > a {
	text-decoration: none;
	display: flex;
	padding: 16px 0;
	color: #777;
	font-weight: var(--fw-400);
	transition: 0.3s ease;
	align-items: center;
}

.nav-links > .nav-link-item:hover > a {
	color: var(--clr-primary-400);
}

.button-container {
	width: 16%;
	text-align: right;
}

.button-container .btn {
	text-align: center;
}

.button-content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: .5em;
	align-items: center;
}

.nav-link-item > a > .fa-chevron-down {
	display: inline-block;
	height: 16px;
	width: 16px;
	margin-left: 8px;
	transition: .3 ease;
	pointer-events: none;
}

.nav-link-item:hover > a > .fa-chevron-down {
	transform: rotate(-180deg);
}

.nav-links > .nav-link-item > .dropdown-menu {
	width: 200px;
	position: absolute;
	top: 80%;
	left: -16px;
	border-radius: 10px;
	overflow: hidden;
	background-color: #fff;
	transform: translateY(0);
	transform: .3s ease;
	visibility: hidden;
	opacity: 0; 
	z-index: 900;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav-links > .nav-link-item:hover > .dropdown-menu {
	transform: translateY(8px);
	visibility: visible;
	opacity: 1;
}

.nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item {
	list-style: none;
}

.nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item > a {
	text-decoration: none;
	display: block;
	color: #777;
	font-weight: var(--fw-400);
	transition: .3s ease;
	padding: 16px;
}

.nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item > a:hover {
	color: var(--clr-primary-400);
	background-color: #F6F7F9;
}

.nav-container .open-menu {
	display: none;
	font-size: 24px;
	color: var(--clr-neutral-900);
}

.nav-container .close-menu {
	display: none;
	font-size: 24px;
	color: #fff;
}

@media ( max-width: 992px ) {

	.nav-container {
		padding: 0 3rem;
	}

	.nav-container .nav-links-container {
		position: fixed;
		left: -1000px;
		visibility: hidden;
		width: 290px;
		height: 100%;
		top: 0;
		overflow-y: auto;
		background-color: #212621;
		z-index: 999;
		padding: 15px;
		transition: all .3s ease-in;
	}

	.nav-container .nav-links-container.open {
		visibility: visible;
		transition: all .3s ease-out;
		left: 0;
	}

	.nav-links-container > .nav-links > .nav-link-item {
		display: block;
		margin: 0;
	}

	.nav-links-container > .nav-links > .nav-link-item > a {
		color: #fff;
		padding: 24px 16px;
		border-bottom: 1px solid #ffffff20;
		display: flex;
		justify-content: space-between;
	}

	.nav-links-container > .nav-links > .nav-link-item > a:hover {
		color: #ffffff81;
	}

	.nav-link-item:hover > a > .fa-chevron-down {
		transform: rotate(0);
	}

	.nav-container > .nav-links-container > .nav-links > .dropdown-menu-branch.active > a .fa-chevron-down {
		transform: rotate(-180deg);
	}

	.nav-links > .nav-link-item > .dropdown-menu {
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border-radius: 0;
		border-bottom: 1px solid #ffffff20;
		background-color: transparent;
		transform: translateY(0px);
		box-shadow: none;
		padding: 0px;
		left: auto;
		max-height: 0;
		overflow: hidden;
	}

	.nav-links > .nav-link-item:hover > .dropdown-menu {
		transform: translateY(0px);
	}

	.nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item > a {
		color: #fff;
		border: none;
	}

	.nav-links > .nav-link-item > .dropdown-menu > .dropdown-menu-item > a:hover {
		color: #ffffff81;
		background-color: transparent;
	}

	.nav-logo {
		padding: 1.5rem 0;
	}

	.nav-container .open-menu {
		cursor: pointer;
		display: block;
	}

	.nav-container .close-menu {
		display: block;
		padding: 16px;
		cursor: pointer;
		width: fit-content;
	}

	.button-container {
		display: none;
	}
}


/* OUR SERVICES */

.left {
	text-align: left;
}

.services-description {
	color: #777;
}

.content p {
	font-size: 18px;
}

.cards-group {
	display: grid;
	grid-auto-columns: 1fr;
	align-items: center;
	padding: 10px 0 0 0;
	gap: 20px;
}

.individual-card {
	transition: all .3s ease;
}

.cards-group .individual-card:hover {
	transform: translateY(-10px);
}

.card-content {
	background: white;
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.05);

	&:hover {
		color: #fff;

		.icon_box {
			background-color: var(--clr-primary-400);
			transition: all .3s ease;

			i {
				color: #fff;
				transition: all .3s ease;
			}

			.section_title {
				color: #fff;
				transition: all .3s ease;
			}

			.card-description {
				color: #fff;
				transition: all .3s ease;
			}
		}

		.content-cta {
			color: #fff;
			background-color: var(--clr-neutral-900);
			border-top: 1px solid rgba(0, 0, 0, 0.3);
			transition: all .3s ease;
	
			&::before {
				opacity: 0.3;
				transition: all .3s ease;
			}
	
			i {
				position: relative;
				z-index: 3;
			}
	
			span {
				position: relative;
				z-index: 3;
			}
		}
	}

	.icon_box {
		padding: 40px;
		transition: all .3s ease;
		
		i {
			display: inline-block;
			line-height: 1;
			color: var(--clr-primary-400);
		}
	
		.section_title {
			font-size: var(--fs-500);
		}
	
		.card-description {
			color: #777;
		}
	}

	.content-cta {
		position: relative;
		display: block;
		font-size: 14px;
		font-weight: var(--fw-700);
		line-height: 1.2;
		color: var(--clr-neutral-900);
		width: 100%;
		background-color: #fff;
		border-top: 1px solid #eee;
		padding: 30px 40px;
		gap: .5em;
	
		&::before {
			content:'';
			position:absolute;
			opacity: 0;
			left:0;
			bottom:0;
			width:100%;
			height:calc(100% + 1px);
			background: url(assets/background_shadow.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			background-blend-mode: luminosity;
		}
		
		i {
			color: var(--clr-primary-400);
		}
	}
}

.our_services {
	background-color: #F6F7F9;
	position: relative;
}

.our_services .container {
	position: relative;
	z-index: 998;
}

.our_services .services_img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.services_img {
	background-image: url(assets/services-bg-pattern.png);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.15;
	mix-blend-mode: luminosity;
}

/* VIDEO */

.the_building_tour {
	position: relative;
	background-color: #292F29;
}

.the_building_tour .tour_img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.tour_img {
	background-image: url(assets/video-background-image.jpg);
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	mix-blend-mode: luminosity;
	opacity: 0.05;
}

.icon_content_view {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;

	&.video_active {
		cursor: pointer;
	}
}

.play-button {
	transition: all .3s ease;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	background: rgba(255, 255, 255, 0.1);
	width: 150px;
	height: 150px;
	border-radius: 50%;

	@media (max-width: 767px) {
		width: 90px;
		height: 90px;
	}

	i {
		display: inline-flex;
		font-size: 20px;
		z-index: 1;
		color: #fff;
		@media (max-width:767px) {
			font-size: 14px;
		}
	}

	&::before {
		position: absolute;
		content: "";
		border-radius: 50%;
		transform: translate(-50%, -50%);
		width: 85%;
		height: 85%;
		background-color: rgba(195, 158, 118, 0.2);
		animation: pulseAnimate 2.5s ease-out infinite;
	}

	&::after {
		position: absolute;
		content: "";
		border-radius: 50%;
		transform: translate(-50%, -50%);
		width: 60%;
		height: 60%;
		background-color: var(--clr-primary-400);
		animation: pulseAnimate 2.5s ease-out infinite;
	}
}

@keyframes pulseAnimate {
	100% {
		opacity: 0;
		transform: scale(2);
	}
}

.index {
	color: var(--clr-primary-400);
	font-weight: var(--fw-700);
	font-size: 14px;
	word-spacing: 1px;
	text-transform: uppercase;
}

.material .section-title {
	color: var(--clr-neutral-100);
	margin-bottom: 30px;
}

.material {
	padding: 10px;
	text-align: center;
}

.video-thubnail {
	position: relative;
	display: flex;
	margin: 0 auto;
	max-width: 1035px;
	border: 15px solid white;
	box-sizing: border-box;
}

.shadow {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #292F29;
	opacity: .3;
}

.tour-video-thubnail {
	width: 100%;
	min-height: 280px;
	object-fit: cover;
}

.video-placeholder {
	margin-top: -180px;
	margin-bottom: 0px;
}

.play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.heading-title {
	font-size: var(--fs-500);
}

.description {
	color: #777;
}

.tour-group {
	display: grid;
}

.image-tour1:nth-child(2) {
	padding-top: 40px;
}

.tour-image {
	width: 185px;
	height: 185px;
	object-fit: cover;
	object-position: center center;
	border-radius: 100px;
	border-style: solid;
	border-width: 0 0 0 10px;
	border-color: var(--clr-primary-400);
}

.image-tour1 {
	display: grid;
	gap: 30px;
	align-items: center;
	justify-items: center;
}

.content-left-side {
	text-align: center;
}

#tour-apartments {
	padding-top: 0;
}

/* TRUSTED PARTNERS */

.block-wrapper {
	display: flex;
	justify-content: space-around;
	overflow-x: scroll;
}

.block-wrapper::-webkit-scrollbar {
	width: 0;
}

.block-item {
	display: grid;
	place-items: center;
	margin-right: 30px;
	padding: 30px;
}

.block-item img {
	width: 7rem;
}

.block-item:hover {
	background: #F6F7F9;
}

.featured-partners {
	background: white;
	border-width: 1px 0;
	border-style: solid;
	border-color: #eee;
	padding: 35px 0;
}

/* FLOOR PLAN */

.paragraph-block {
	padding: 14px 28px;
	display: inline-flex;
	justify-content: space-between;
	background: white;
	width: 100%;
}

.paragraph-block:nth-child(even) {
	background: #F6F7F9;
}

.title {
	color: #777;
}

.text {
	color: var(--clr-primary-400);
	font-weight: var(--fw-700);
}

.plan-image {
	display: inline-block;
	max-width: 368px;
	width: 100%;
}

.floor-info {
	text-align: center;
}

.floor-info p {
	color: #777;
}

.content-wrapper {
	display: grid;
	place-items: center;
}

.apartment-plans {
	background: #F6F7F9;
}

.heading-part {
	padding: 0 0 10px 0;
}

.content-part {
	padding: 10px 0 0 0;
}

/* FEATURED APARTMENTS */

.apts-block {
	position: relative;
	display: grid;
	margin: -30px auto 0;
	padding: 25px;
	background: white;
	width: calc(100% - 40px);
	box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
}

.size {
	position: absolute;
	bottom: 100%;
	right: 0;
	padding: 11px 15px;
	background-color: var(--clr-primary-400);
	color: white;
	font-size: 11px;
	line-height: 1;
	font-weight: 600;
	text-transform: uppercase;
}

.tittle {
	font-size: 20px;
}

.back a .title {
	font-size: 30px;
	color: var(--clr-neutral-100);
	margin: 0 20px 30px 0;
}

.single-card {
	position: relative;
}

.value {
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: var(--fw-700);
	color: var(--clr-primary-300);
}

.arrow-button {
	cursor: pointer;
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	background: white;
	transition: all ease .3s;
}

.arrow-button i {
	display: inline-flex;
}

.arrow-button:hover {
	background: var(--clr-primary-400);
	color: white;
}

.snippet {
	perspective: 900px;
}

.single-card {
	transition: all 1.5s cubic-bezier(0.7, -.5, 0.3, 1.8);
	transform-style: preserve-3d;
}

.front,
.back {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.front {
	backface-visibility: hidden;
}

.back {
	position: absolute;
	padding: 50px;
	background: #292F29;
	transform: rotateY(180deg);
}

.snippet:hover .single-card {
	transform: rotateY(180deg);
}

.info-group {
	margin-bottom: 15px;
}

.info-group:nth-child(2) {
	margin: 15px 0;
}

.back a h3:hover,
.back a h3:focus {
	color: var(--clr-primary-300);
}

/* FOOTER */

.footer-navlist li {
	width: 100%;
	padding: 0 0 5px;
}

.footer-navlist li a {
	position: relative;
	cursor: pointer;
	text-decoration: none;
	color: #838b83;
	transition: all .5s ease;
}

.footer-navlist li a::before {
	content: '';
	position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--clr-primary-400);
    transition: all .3s ease;
}

.footer-navlist li a:hover{
	color: white;
}

.footer-navlist li a:hover::before {
	width: 100%;
}

.title-navlist {
	display: inline-block;
	margin-bottom: 20px;
	word-spacing: 2px;
}

.sub-title, .pre-title {
	font-size: var(--fs-200);
	font-weight: var(--fw-700);
	color: var(--clr-primary-300);
	display: inline-block;
	text-transform: uppercase;
	line-height: 1.2;
	z-index: 1;
}

.sub-title {
	font-size: var(--fs-500);
	color: #fff;
	text-transform: none;
}

.logo-footer {
	margin-bottom: 40px;
}

.split-screen1, .split-screen2 {
	margin-bottom: 40px;
}

.contact-details .title {
	font-size: var(--fs-500);
	font-weight: var(--fw-700);
	color: var(--clr-neutral-100);
	margin-bottom: 15px;
}

.location {
	color: #838b83;
}

.line-group {
	display: inline-flex;
	gap: .5em;
}

.line-group:nth-child(1) {
	margin-bottom: 10px;
}

.social-icons {
	display: inline-block;
	word-spacing: 10px;
}

.contact-ikon {
	display: inline-flex;
	align-items: center;
}

.contact-label {
	font-weight: var(--fw-700);
}

.info li a {
	position: relative;
	text-decoration: none;
	color: #fff;
	transition: all .5s ease;
}

.info li a::before {
	content: '';
	position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--clr-primary-400);
    transition: all .5s ease;
}

.info li a:hover::before {
	width: 100%;
}

.footer-top {
	margin-bottom: 60px;
}

.copyright {
	margin-bottom: 40px;
}

.copyright p {
	color: #838b83;
	font-size: var(--fs-300);
}

.footer-bottom {
	padding: 2em 0;
	border-color: #ffffff1a;
	border-style: solid;
	border-width: 1px 0 0;
}

.social-circle {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #212621;
	border-radius: 500px;
	transition: all .3s ease;
	font-size: var(--icon-size,25px);
    line-height: var(--icon-size,25px);
    width: calc(var(--icon-size, 25px) + 2 * var(--icon-padding, .5em));
    height: calc(var(--icon-size, 25px) + 2 * var(--icon-padding, .5em));
}

@keyframes pulseAnimate {
	0% {
		transform: scale(.9);
	}

	70% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(.9);
	}
}

.social-circle:hover {
	background: var(--clr-primary-400);
	animation: pulseAnimate 1s ease-out infinite;
}

.site-footer {
	position: relative;
}

.site-footer .img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.img {
	background-image: url(assets/footer-image.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	opacity: .3;
	mix-blend-mode: multiply;
}

.footer-left {
	width: 100%;
}

.snippet-title {
	font-size: var(--fs-500);
}

.snippet-price {
	font-weight: var(--fw-700);
}

.category {
	margin-left: .4em;
}

.articles-list {
	display: grid;
	grid-template-columns: auto;
	gap: 36px 24px;
	padding: 10px 0 0 0;
}

.article_image {
	width: 100%;
	aspect-ratio: 4 / 3;
	object-fit: cover;
}

.text-center {
	text-align: center;
}

.flex-group {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.btn {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	line-height: 1;
	padding: 0.75em 1.75em;
	border-radius: 0.25em;
	align-self: start;
	justify-self: start;
}

.btn--primary {
	background: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    font-weight: var(--fw-700);
    border: 2px solid var(--clr-primary-400);
}

.btn--primary:hover,
.btn--primary:focus {
  background: var(--clr-primary-500);
  border-color: var(--clr-primary-500); 
}

.btn--neutral {
	background: var(--clr-neutral-100);
    color: var(--clr-neutral-900);
    font-weight: var(--fw-700);
    border: 2px solid var(--clr-neutral-900);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.btn:focus {
	outline: 0.125em solid var(--clr-primary-400);
	outline-offset: 0.25em;
  }

.col > div {
	display: flex;
}

@media (max-width: 1024px) {
	.col > div {
		flex-wrap: wrap;
	}
}

.hero_image {
	width: 100%;
	object-fit: cover;
}

.flow > *:where(:not(:first-child)) {
	margin-top: var(--flow-spacer, 1em);
}

.flow2 > *:where(:not(:first-child)) {
	margin-top: var(--flow-spacer, 2em);
}

section,
.section {
  padding: min(10vh, 10em) 0;
}

.container {
    padding: 0 1em;
    max-width: 1232px;
    margin: 0 auto;
	box-sizing: border-box;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-page {
	padding: 1.9167em 0;
	background: #F6F7F9;
}

.header-page scrolled {
	position: fixed;
	top: 0;
	left: 0;
}

.nav-container {
	padding: 0 30px;
	height: 90px;
}

.left-side {
	width: 18.5%;
}

.middle-side {
	width: 65.5%;
}

.hero-section {
	position: relative;
	padding: 0;
}

.hero-section .hero-img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.hero-img {
	background-image: url(assets/bg-hero-image.jpg);
	background-position: center left;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -2;
}



.title_line {
	display: block;
	width: 100%;
	font-size: 10vw;
}

@media (max-width: 500px) {
	.title_line {
		font-size: 40px;
	}
}

@media (max-width: 720px) {
	.title_line {
		font-size: 48px;
	}
}

.transparent {
	background: transparent;
}

.company-header {
	display: none;
}

.nav-list a {
	color: var(--clr-neutral-900);
	text-decoration: none;
}

.nav-list {
    display: inline-flex;
    gap: 3em;
}

.nav-list a:focus,
.nav-list a:hover {
	color: var(--clr-primary-400);
	text-decoration: underline;
}

.snippet {
	grid-template-areas:
	  "image"
	  "title"
	  "floor"
	  "sizing";
	grid-template-rows: min-content min-content min-content 1fr;
}

.site-footer {
	--logo-color: currentcolor;
	background-color: #292F29;
	color: var(--clr-neutral-100);
	padding: 60px 0 0 0;
}

.site-footer .container {
	position: relative;
	z-index: 2;
}

.title-details {
	font-size: var(--fs-500);
	color: var(--clr-primary-500);
}

.tag-rental {
	background-color: var(--clr-primary-200);
	padding: .5em 10px;
	font-weight: var(--fw-700);
	color: var(--clr-primary-400);
	border-radius: .25em;
}

.rental-title {
	font-size: var(--fs-600);
}

.details-rental {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 19.61px 0;
	gap: 10px;
}

.content-rental {
	min-width: 240px;
	width: 100%;
	background: var(--clr-neutral-100);
	border-radius: .25em;
	border: 2px solid var(--clr-neutral-900);
	padding: 2em;
	box-sizing: border-box;
}

.info-rental {
	display: grid;
	grid-auto-flow: row;
	grid-auto-columns: 3fr 1fr;
	align-items: center;
	justify-items: last baseline;
	gap: 1.875em;
}

.rental_image {
	max-width: 870px;
	width: 100%;
	object-fit: cover;
}

.description {
	width: 100%;
	font-size: var(--fs-300);
}

.feature-rental {
	display: flex;
	gap: .5em;
	align-items: center;
}

.feature-group {
	margin-top: 2.25em;
}

input, textarea {
	border: none;
	box-sizing: border-box;
	background: #F6F7F9;
	width: 100%;
	font-family: var(--ff-body);
}

input {
	padding: 15.5px 1em;
	font-size: 16px;
	border-radius: .25em;
}
 
textarea {
	padding: 1em 1em 5em;
	font-size: 16px;
	border-radius: .25em;
	resize: none;
}

.contact-form {
	min-width: 240px;
	width: 100%;
	box-sizing: border-box;
	background: white;
	padding: 2em;
	border-radius: .25em;
	box-shadow: 0 6px 30px rgba(0, 0, 0, 0.07) ;
}

.title-contact {
	font-size: var(--fs-500);
	color: var(--clr-primary-500);
	font-weight: var(--fw-700);
	font-family: var(--ff-heading);
}

.paragraph-contact {
	color: #777;
}

.contact {
	font-size: var(--fs-400);
}

.description-rental {
	align-items: start;
	margin-top: 3.56em;
}

.google-maps {
	max-width: 870px;
	margin-top: 3.56em;
}

.location {
	width: 100%;
}

.individual {
	margin-top: 3.56em;
}

article a {
	color: var(--clr-neutral-900);
	text-decoration: none;
    line-height: 0; 
}

.article-image {
	width: 100%;
	height: 360px;
	object-fit: cover;
}

.amenities-group {
	display: flex;
	gap: .25em;
}

.subpage-content-widget ul.breadcrumb {
	margin: 0;
	padding: 8px 28px;
	background: #292f2966;
	line-height: 1.5;
}

.breadcrumb-content {
	position: relative;
	z-index: 1;
	padding: 90px 0 16px 0;
}

.subpage-content-widget .section-title {
	color: var(--clr-neutral-100);
	padding: 0 0 90px 0;
}

ul.breadcrumb{
	margin: 0;
	padding: 20px 0px;
	display: inline-block;
	list-style-type: none;

	li{
		color: var(--clr-neutral-100);
		-webkit-hyphens: auto;
	    -moz-hyphens: unset;
	    -ms-hyphens: unset;
	    hyphens: unset;
	    display: inline-block;
	    padding-right: 5px;
	    word-break: break-word;
		a{
			color: var(--clr-neutral-100);

			&:hover{
				color: var(--clr-primary-400);
			}
		}
		.separator{
			i{
				font-size: 0.6em;
				color: var(--clr-neutral-100);
				opacity: 0.5;
				position: relative;
				
			}
			
		}
	}
}

.subpage-thefold {
	position: relative;
	background-color: #292F29;
}

.subpage-thefold .rentals-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.rentals-background {
	background-image: url(assets/rentals-background.jpg);
	background-repeat: no-repeat;
    background-position: center;
	opacity: .15;
}

#subpage-thefold {
	padding: 0;
}

#featured-listings {
	padding: 0 0 10vh 0;
}

.dedicated {
	padding: 0 0 10vh 0;
}

.featured-rentals .container .section-title {
	padding: 0 0 16px 0;
}


@media (min-width: 45em) {

	.info-rental {
		grid-auto-flow: column;
	}

	.cards-group {
		grid-template-columns: 1fr 1fr;
	}

	.articles-list {
		grid-template-columns: repeat(2, 2fr);
	}

	.image-tour1 {
		grid-auto-flow: column;
	}

	.content-left-side {
		text-align: left;
	}

	.block-item {
		width: 100%;
	}
	
	.footer-top {
		display: flex;
		flex-wrap: wrap;
	}

	.footer-left, .footer-middle, .split-screen2, .footer-right {
		width: 50%;
	}

	.footer-bottom {
		display: inline-flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		
	}

	.copyright {
		margin: 0;
	}

	.label-right {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.cards-group {
		padding: 10px 0 0 0;
	}

	.about-container, .content-container {
		width: 50%;
	}

	.content {
		margin: 0 30px 0 20px;
	}

	.label-left {
		width: 58%;
		padding: 0;
	}

	.label-right {
		width: 42%;
		padding: 10px;
	}

	.section-title {
		font-size: 48px;
	}

	.welcome p {
		font-size: var(--fs-200);
	}

	.title_line {
		font-size: 66px;
	}

	.nav-logo {
		width: 18.5%;
	}

	.breadcrumb-content {
		padding: 120px 0 16px 0;
	}
	
	.subpage-content-widget .section-title {
		padding: 0 0 120px 0;
	}

	.welcome-wrapper {
		padding: 120px 0 0 0;
	}

	.hero-title {
		padding: 0 0 120px 0;
	}
}

@media only screen and (min-width: 64em) {

	.articles-list {
		grid-template-columns: repeat(3, 2fr);;
    } 

	.company-header {
		display: block;
		padding: 0 1.665em;
		background: white;
	}

	.container-header {
		display: flex;
		height: 100%;
	}

	.company-side-left {
		flex-wrap: wrap;
		display: flex;
		justify-content: flex-start;
		width: 60%;
		padding: 10px;
	}

	.company-side-right {
		display: flex;
		flex-wrap: wrap;
		width: 40%;
		justify-content: flex-end;
		padding: 10px;
		align-content: center;
        align-items: center;
	}

	.header-links {
		display: inline-block;
		height: 100%;
		font-size: var(--fs-200);
		cursor: pointer;
		transition: all .5s ease;
	}

	.top_links .header-links {
		color: #777;
	}

	.top_links .header-links:hover {
		color: var(--clr-primary-400);
	}

	.contact-address {
		display: flex;
		width: auto;
		align-items: center;
		margin-right: 20px;
		color: #777;
		gap: .5em;
	}

	.info-header {
		position: relative;
		font-size: var(--fs-200);
		color: #777;
		cursor: pointer;
	}

	.result a::before{
		position: absolute;
		content: '';
		width: 0;
		height: 1px;
		left: 0;
		bottom: 0;
		transition: all 500ms ease;
		background-color: var(--clr-primary-400)
	}
	
	.result a:hover::before{
		width: 100%;
	}

	.result a:hover {
		color: var(--clr-primary-400);
	}

	.header-social-icons .socials-circle {
		background: #F6F7F9;
		--icon-padding: 0.6em;
	}

	@keyframes pulseAnimate {
		0% {
			transform: scale(.9);
		}
	
		70% {
			transform: scale(1.05);
		}
	
		100% {
			transform: scale(.9);
		}
	}
	
	.header-social-icons .socials-circle:hover {
		background: var(--clr-primary-400);
		animation: pulseAnimate 1s ease-out infinite;
		color: white;
	}

	.socials-circle {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background: #F6F7F9;
		border-radius: 500px;
		transition: all .3s ease;
		font-size: var(--icon-size,25px);
		line-height: var(--icon-size,25px);
		width: calc(var(--icon-size, 25px) + 2 * var(--icon-padding, .5em));
		height: calc(var(--icon-size, 25px) + 2 * var(--icon-padding, .5em));
	}

	.header-social-icons {
		width: auto;
		display: inline-flex;
		align-items: center;
		gap: .5em;
		margin-right: 30px;
	}

	.cards-group {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.tour-group {
		grid-template-columns: 1fr 1fr;
	}

	.image-tour1 {
		padding: 60px 60px 0 0 ;
		border-width: 1px 1px 0 0 ;
		border-style: solid;
		border-color: #eee;
	}

	.image-tour1:nth-child(2) {
		padding: 60px 0 0 60px;
		border-width: 1px 0 0 0 ;
	}

	.block-wrapper {
		overflow-x: hidden;
	}

	.content-part > div {
		grid-auto-flow: column;
		grid-template-columns: 33.333% 35% 31.333%;
		padding: 40px 0 0 ;
	}

	.floor-info {
		text-align: left;
	}

	.article-image {
		height: 415px;
	}

	.footer-top {
		flex-wrap: nowrap;
	}

	.footer-left {
		width: 38%;
	}

	.footer-middle {
		width: 15%;
	}

	.split-screen2 {
		width: 20%;
	}

	.footer-right {
		width: 27%;
	}

	.split-screen2 ul {
		margin: 50px 0 0 0;
	}

	.about-container {
		width: 32%;
	}

	.content-container {
		width: 40.332%;
	}

	.stats-container {
		width: 27%;
	}

	.title_line {
		font-size: var(--fs-1000);
	}

	.nav-logo {
		width: 18.5%;
	}

	.breadcrumb-content {
		padding: 150px 0 16px 0;
	}
	
	.subpage-content-widget .section-title {
		padding: 0 0 150px 0;
	}

	.container > .contact-content-wrapper {
		display: flex;
		gap: 40px;
	}

	.welcome-wrapper {
		padding: 150px 0 0 0;
	}

	.hero-title {
		padding: 0 0 150px 0;
	}

}