---
title: Rentals
layout: 'base.njk'
---


<section id="subpage-thefold" class="subpage-thefold">
  <div class="rentals-background"></div>
  <div class="container">
    <div class="subpage-content-widget">
      <div class="breadcrumb-content">
        <ul class="breadcrumb">
        <li>
          <a href="/index">Home</a>
        </li>
        <li>
          <span class="seperator">
            <i class="fa-solid fa-chevron-right"></i>
          </span>
        </li>
        <li style="font-weight: 700;">Premises</li>
        </ul>
      </div>
      <h1 class="section-title">Premises</h1>
    </div>
  </div>
</section>
<section class="recent-listings">
  <div class="container">
      
    <ul role="list" class="articles-list">
        
      {%- for post in collections.post | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor %}

    </ul>

  </div>
</section>
        