---
title: About
layout: 'base.njk'
---

<section id="subpage-thefold" class="subpage-thefold">
    <div class="rentals-background"></div>
    <div class="container">
      <div class="subpage-content-widget">
        <div class="breadcrumb-content">
          <ul class="breadcrumb">
          <li>
            <a href="/index">Home</a>
          </li>
          <li>
            <span class="seperator">
              <i class="fa-solid fa-chevron-right"></i>
            </span>
          </li>
          <li style="font-weight: 700;">About</li>
          </ul>
        </div>
        <h1 class="section-title">About</h1>
      </div>
    </div>
</section>
<section class="what-about-us">
    <div class="container">
        <div class="about-us flow">
            <h2 class="section-title">Check apartments luxury styles</h2>
            <div class="features-box">
                <div class="features-content-wrapper">
                    <i></i>
                    <h3 class="title">Building rentals</h3>
                    <p>There are many due variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                </div>
            </div>
            <div class="features-box">
                <div class="features-content-wrapper">
                    <i></i>
                    <h3 class="title">Buy apartments</h3>
                    <p>There are many due variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
                </div>
            </div>
        </div>
        <img src="/src/assets/what-about-us.jpg" class="what-about-us" alt="">
    </div>
</section>