---
title: Contact
layout: 'base.njk'
---

<section id="subpage-thefold" class="subpage-thefold">
  <div class="rentals-background"></div>
  <div class="container">
    <div class="subpage-content-widget">
      <div class="breadcrumb-content">
        <ul class="breadcrumb">
        <li>
          <a href="/index">Home</a>
        </li>
        <li>
          <span class="seperator">
            <i class="fa-solid fa-chevron-right"></i>
          </span>
        </li>
        <li style="font-weight: 700;">Contact</li>
        </ul>
      </div>
      <h1 class="section-title">Contact</h1>
    </div>
  </div>
</section>
<section class="contact">
    <div class="container">
        <div class="contact-content-wrapper">
            <div class="contact-details flow2">
                <h2 class="section-title">Get in touch with our expert agents</h2>
                <p class="p-description">Our success is determined not only by the results we acquire, but also by the manner in which we achieve them on way to see that.</p>
                <div class="contact-details">
                  <div class="contact-info">
                    <div class="contact-wrapper">
                    <div class="contact-icon">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                    </div>
                    <div class="contact">
                        <div class="label">Have any question?</div>
                        <div class="info">Free +92 (8800) - 8960</div>
                    </div>
                    </div>
                  </div>
                  <div class="contact-info">
                    <div class="contact-wrapper">
                    <div class="contact-icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="contact">
                        <div class="label">Write email</div>
                        <div class="info">needhelp@company.com</div>
                    </div>
                    </div>
                  </div>
                  <div class="contact-info">
                    <div class="contact-wrapper">
                    <div class="contact-icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="contact">
                        <div class="label">Visit now</div>
                        <div class="info">80 broklyn golden street, New York</div>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="contact-form flow">
                <input type="text" placeholder="Your name">
                <input type="text" placeholder="Email adress">
                <input type="text" placeholder="Phone number">
                <textarea type="text" placeholder="Write a message"></textarea>
                <a href="" class="btn btn--primary">Send a message</a>
            </div>
        </div>
    </div>
</section>
