:root {
	--fs-300: 0.9375rem;
	--fs-400: 1.0625rem;
	--fs-500: 1.375rem;
	--fs-600: 1.875rem;
	--fs-700: 2rem;
  
	--ff-body: "Roboto", sans-serif;
	--ff-heading: "SF Pro Display", serif;
  
	--fw-400: 400;
	--fw-700: 700;
	--fw-900: 900;
  
	--clr-primary-200: hsla(169, 70%, 95%, 1);
	--clr-primary-300: hsla(169, 100%, 39%, 1);
	--clr-primary-400: hsla(169, 100%, 26%, 1);
	--clr-primary-500: hsla(169, 100%, 16%, 1);
  
	--clr-neutral-100: hsla(0, 0%, 100%, 1);
	--clr-neutral-300: hsla(0, 0%, 50%, 1);
	--clr-neutral-400: hsla(0, 0%, 40%, 1);
	--clr-neutral-500: hsla(0, 0%, 60%, 1);
	--clr-neutral-900: hsla(0, 0%, 10%, 1);
}

@media (min-width: 35em) {
	:root {
	  --fs-300: 1rem;
	  --fs-400: 1.125rem;
	  --fs-500: 1.5rem;
	  --fs-600: 2.25rem;
	  --fs-700: 3rem;
	}
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: var(--ff-body);
	font-size: var(--fs-400);
	color: var(--clr-neutral-900);
	line-height: 1.5;
  }
  
  h1,
  h2,
  h3 {
	font-family: var(--ff-heading);
	font-weight: var(--fw-900);
	line-height: 1.1;
  }
  
  strong {
	font-weight: var(--fw-700);
  }

.upper-part {
	text-align: center;
}

.section-title {
	font-size: var(--fs-600);
}

.snippet-title {
	font-size: var(--fs-500);
}

.snippet-price {
	font-weight: var(--fw-700);
}

.category {
	margin-left: .4em;
}

.articles-list {
	display: grid;
	grid-template-columns: auto;
	gap: 36px 24px;
	margin: 5em 0 0;
}

.article_image {
	width: 100%;
	aspect-ratio: 4 / 3;
	object-fit: cover;
}

.text-center {
	text-align: center;
}

.flex-group {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.btn {
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	line-height: 1;
	padding: 0.75em 1.75em;
	border-radius: 0.25em;
	align-self: start;
	justify-self: start;
}

.btn--primary {
	background: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    font-weight: var(--fw-700);
    border: 2px solid var(--clr-primary-400);
}

.btn--primary:hover,
.btn--primary:focus {
  background: var(--clr-primary-500);
  border-color: var(--clr-primary-500); 
}

.btn--neutral {
	background: var(--clr-neutral-100);
    color: var(--clr-neutral-900);
    font-weight: var(--fw-700);
    border: 2px solid var(--clr-neutral-900);
}

.btn--neutral:hover,
.btn--neutral:focus {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.btn:focus {
	outline: 0.125em solid var(--clr-primary-400);
	outline-offset: 0.25em;
  }

.hero > div {
	display: grid;
	grid-auto-columns: 1fr;
	align-items: center;
	gap: 3em;
}

.hero_image {
	width: 100%;
	object-fit: cover;
}

.flow > *:where(:not(:first-child)) {
	margin-top: var(--flow-spacer, 1em);
}

section,
.section {
  padding: min(10vh, 10em) 0;
}

.container {
    padding: 0 1em;
    max-width: 1232px;
    margin: 0 auto;
	box-sizing: border-box;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-page {
	padding: 1.9167em 0;
}

ul li {
	text-decoration: none;
    display: inline-block;
}

.nav-list a {
	color: var(--clr-neutral-900);
	text-decoration: none;

}

.nav-list {
    display: inline-flex;
    gap: 1em;
}

.nav-list a:focus,
.nav-list a:hover {
	color: var(--clr-primary-400);
	text-decoration: underline;
}

.snippet {
	display: grid;
	gap: 1em;
	grid-template-areas:
	  "image"
	  "title"
	  "location"
	  "details"
	  "price";
	grid-template-rows: min-content min-content min-content 1fr;
}

.site-footer {
	--logo-color: currentcolor;
	background: var(--clr-primary-500);
	color: var(--clr-neutral-100);
	text-align: center;
	padding: 2em 0;
}

.featured-rentals {
	background: var(--clr-primary-200)
}

.title-details {
	font-size: var(--fs-500);
	color: var(--clr-primary-500);
}

.tag-rental {
	background-color: var(--clr-primary-200);
	padding: .5em 10px;
	font-weight: var(--fw-700);
	color: var(--clr-primary-400);
	border-radius: .25em;
}

.rental-title {
	font-size: var(--fs-600);
}

.details-rental {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 19.61px 0;
	gap: 10px;
}

.content-rental {
	min-width: 240px;
	width: 100%;
	background: var(--clr-neutral-100);
	border-radius: .25em;
	border: 2px solid var(--clr-neutral-900);
	padding: 2em;
	box-sizing: border-box;
}

.info-rental {
	display: grid;
	grid-auto-flow: row;
	grid-auto-columns: 3fr 1fr;
	align-items: center;
	justify-items: last baseline;
	margin-top: 5em;
	gap: 1.875em;
}

.rental_image {
	max-width: 870px;
	width: 100%;
	object-fit: cover;
}

.description {
	width: 100%;
}

.feature-rental {
	display: flex;
	gap: .5em;
	align-items: center;
}

.feature-group {
	margin-top: 2.25em;
}

input, textarea {
	border: none;
	box-sizing: border-box;
	background: #F6F7F9;
	width: 100%;
	font-family: var(--ff-body);
}

input {
	padding: 15.5px 1em;
	font-size: 16px;
	border-radius: .25em;
}
 
textarea {
	padding: 1em 1em 5em;
	font-size: 16px;
	border-radius: .25em;
	resize: none;
}

.contact-form {
	min-width: 240px;
	width: 100%;
	box-sizing: border-box;
	background: white;
	padding: 1em;
	border-radius: .25em;
	box-shadow: 0 6px 30px rgba(0, 0, 0, 0.07) ;
}

.title-contact {
	font-size: var(--fs-500);
	color: var(--clr-primary-500);
	font-weight: var(--fw-700);
	font-family: var(--ff-heading);
}

.paragraph-contact {
	color: #777;
}

.contact {
	font-size: var(--fs-400);
}

.description-rental {
	align-items: start;
	margin-top: 3.56em;
}

.google-maps {
	max-width: 870px;
	margin-top: 3.56em;
}

.location {
	width: 100%;
}

.recent-listings {
	margin-top: 3.56em;
}

.individual {
	margin-top: 3.56em;
}

article a {
	color: var(--clr-neutral-900);
	text-decoration: none;
    line-height: 0; 
}

article a:focus, 
article a:hover {
	color: var(--clr-primary-400);
	text-decoration: none;
}

.article-image {
	width: 100%;
	object-fit: cover;
}

@media (min-width: 45em) {

	.hero > div {
	  grid-auto-flow: column;
	}

	.info-rental {
		grid-auto-flow: column;
	  }

}
@media only screen and (min-width: 768px) {

	.articles-list {
		grid-template-columns: repeat(2, 2fr);
	}
	

}

@media only screen and (min-width: 1024px) {

	.articles-list {
		grid-template-columns: repeat(3, 2fr);;
    } 

}