/* Change all text and icon colors in the player. */
.vjs-matrix.video-js {
	display: block;
} 

.vjs-matrix.vjs-icon-play, .video-js .vjs-play-control .vjs-icon-placeholder, .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
	line-height: 150px;
	z-index: 1;
  }

.vjs-controls-disabled .vjs-big-play-button,
.vjs-has-started .vjs-big-play-button,
.vjs-using-native-controls .vjs-big-play-button,
.vjs-error .vjs-big-play-button {
  display: none !important;
}

.vjs-matrix.video-js .vjs-big-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all .3s ease;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	margin: 0;
	background: rgba(255, 255, 255, 0.1);
	border: none;
	width: 150px;
	height: 150px;
	border-radius: 50%;

	@media (max-width: 767px) {
		width: 90px;
		height: 90px;
	}

	i {
		display: inline-flex;
		font-size: 20px;
		z-index: 1;
		color: #fff;
		@media (max-width:767px) {
			font-size: 14px;
		}
	}

	&::before {
		position: absolute;
		content: "";
		border-radius: 50%;
		transform: translate(-50%, -50%);
		width: 85%;
		height: 85%;
		background-color: rgba(195, 158, 118, 0.2);
		animation: pulseAnimate 2.5s ease-out infinite;
	}

	&::after {
		position: absolute;
		content: "";
		border-radius: 50%;
		transform: translate(-50%, -50%);
		width: 60%;
		height: 60%;
		background-color: var(--clr-primary-400);
		animation: pulseAnimate 2.5s ease-out infinite;
	}

	@keyframes pulseAnimate {
		100% {
			opacity: 0;
			transform: scale(2);
		}
	}
}

.vjs-matrix.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
	background: rgba(255, 255, 255, 0.1);
}